<%= @student.first_name + " " + @student.last_name %>
<form action='/students' method='patch'>
<% link_to
</form>




<!-- <label class="switch">
   <span class="slider round">
      <input type="checkbox" checked />
   </span>
</label> -->
